<div class="space-y-2">
    <div class="flex justify-start items-center">
        <h2 class="text-white text-xl font-bold">Recent Episodes</h2>
    </div>
    <div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-8 gap-4">
        <% data.slice(0, -4).forEach((i)=> { %>
            <a href="/episode/<%= i.id %>/<%= i.epid %>" class="group space-y-1">
                <img src="<%= i.cover %>" alt="<%= i.title %>" title="<%= i.title %>"
                    class="w-full h-52 rounded-sm object-cover group-hover:scale-95">
                <p class="text-white text-base font-medium truncate group-hover:text-violet-600">
                    <%= i.title %>
                </p>
                <p class="text-white/50 text-sm font-medium">
                    <%= i.episode %>
                </p>
            </a>
            <% }) %>
    </div>
</div>